:root {
    --color-main: rgb(221, 221, 221);
    --color-hover: rgb(175, 175, 175);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--color-main);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pad-top {
    padding-top: 5vh;
}
.text-main {
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 5vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    gap: 50px;
}

.book-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    border-radius: 15px;
}
.book-card > button {
    width: 80%;
    border: none;
    background-color: var(--color-main);
}
.book-card > button:hover {
    background-color: var(--color-hover);
}